.todoList__item {
	display: flex;
}

.todoList__icon {
	font-size: 2rem !important;
	margin: 1rem;
}

.complete {
	color: green;
	text-decoration: line-through;
}

.todoList__icon:hover {
	cursor: pointer;
}

.todoList__check {
	color: green;
}

.todoList__edit {
	color: yellow;
}

.todoList__delete {
	color: red;
}
